Q1) Create one variable containing following type of data:

In [1]:
s  = "shivam"
print(s)

l = [1,2, "yo", 3.0, 1]
print(l)

f = 3.0
print(f)

t = [1,2,3]
print(t)

shivam
[1, 2, 'yo', 3.0, 1]
3.0
[1, 2, 3]

Q2) Given are some following variables containing data:

var1= ''   #string
type(var1)

var2 = '[DS, ML, python]'   #string
type(var2)

var3 = ['DS', 'ML', 'python' ]  #list
type(var3)

var4 = 1    #int
type(var4)

Q3. Explain the use of the following operators using an example:

In [2]:
a  = 10
b  = 3

c = a / b   #  / will return quotient 
print(c)

d = a%b     # % will return remainder
print(d)

e = a//b    #  // will return floor value of quotient 
print(e)

f = a**b    #  ** means raise to/power, here 10^3
print(f)

3.3333333333333335
1
3
1000

Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the element and its data type.

In [3]:
l = [1,2, 'sh', 'amit', 'abhi',[1,2,"sumit"], True, 5.0, False, 10]

for index, element in enumerate(l):
    print( f"Element is {index}:{element}     (type: {type(element).__name__})")

Element is 0:1     (type: int)
Element is 1:2     (type: int)
Element is 2:sh     (type: str)
Element is 3:amit     (type: str)
Element is 4:abhi     (type: str)
Element is 5:[1, 2, 'sumit']     (type: list)
Element is 6:True     (type: bool)
Element is 7:5.0     (type: float)
Element is 8:False     (type: bool)
Element is 9:10     (type: int)

Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many times it can be divisible.

In [5]:
A = 100
B = 5

count = 0
while A >= B:
    if A % B == 0:
        count += 1
    A = A // B

print(count)

2

Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is divisible by 3 or not

In [16]:
l = list(range(26))

for i in l:
    if i%3 == 0:
        print(i)

0
3
6
9
12
15
18
21
24

Q7. What do you understand about mutable and immutable data types? Give examples for both showing this property

Mutable datatypes are the data whose element can be changed, deleted, altered i.e. elements can be modified
eg - list, set, dictionary


Immutable datatype element can't be  changed, deleted, altered i.e. can't be modified.  
eg - string, int, float, tuple

In [23]:
# immutable datatype
s = "shivam"
# s[0]    s

s[1] = 'a'

TypeError: 'str' object does not support item assignment

In [24]:
#mutable datatype
l = [1,2,3, 'Shiav', 12]
l[1] = 4
l

[1, 4, 3, 'Shiav', 12]